RewriteEngine On

RewriteRule ^documento/([^/]+)\.pdf$ index.php?route=/documento/$1.pdf [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
